/*Media queries: tablet and larger (from 768px and up)*/
@media screen and (min-width: 768px) {
  /*Header*/
  header {
    display: block;
  }
  h2 {
    font-size: 180%;
  }
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    left: auto;
    margin: auto;
    font-size: 120%;
  }
  #menu {
    display: flex;
    width: 100%;
  }
  #menu > li {
    padding: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }
}
