/*Media queries: tablet and larger (from 768px and up)*/
@media screen and (min-width: 768px) {
  /*General styles*/
  body {
    padding: 1rem;
  }
  h1 {
    font-size: 220%;
  }
  h2 {
    font-size: 180%;
  }
  figcaption {
    font-size: 140%;
  }

  /*Header*/
  header,
  footer {
    display: block;
  }

  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    left: auto;
    margin: auto;
    font-size: 120%;
  }
  #menu {
    display: flex;
    width: 100%;
  }
  #menu > li,
  footer ul > li {
    padding: 1rem;
  }
  .nav-toggle-label {
    display: none;
  }

  /*Context*/
  iframe {
    height: 30rem;
  }

  /*Footer*/
  footer > ul {
    display: flex;
    width: fit-content;
    margin: auto;
  }
}

/*Media query: laptops and desktops (from 992px and up)*/
@media screen and (min-width: 992px) {
  /*General styles*/
  body {
    padding: 1.2rem;
  }
  /*hovering on the list elements*/
  #menu > li:hover,
  footer ul > li:hover {
    color: #584500;
  }

  /*Main*/
  /*Description*/
  .description {
    display: flex;
    margin: 2% auto;
  }
  .image {
    width: 50%;
  }
  .content {
    width: 50%;
  }
  .content p {
    margin: 5% 3%;
    font-size: 1.5rem;
  }

  /*Footer*/
  footer ul {
    margin: auto;
  }
  footer a {
    font-size: 120%;
  }
}

/*Media query: 4k monitors and larger (from 2500px and up)*/
@media screen and (min-width: 2500px) {
  /*General styles*/
  body {
    padding: 2rem;
  }
  h1 {
    font-size: 550%;
  }
  h2 {
    font-size: 500%;
  }
  figcaption {
    font-size: 280%;
  }

  /*Description*/
  .content p {
    font-size: 3rem;
  }

  /*Header and Footer*/
  nav,
  footer {
    font-size: 200%;
  }
  #menu > li,
  footer ul > li {
    padding: 2rem;
  }
}
