/*Wildcard styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent
    url("../images/general/istockphoto-515842039-170667a.webp") repeat;
}

/*Header*/

/*Main*/

/*Footer*/
